.section{
    display: flex;
    flex-direction: column;
}

.sectionIngredient{

}

.sectionFooter{

}

.ingredient{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background: #1C1C21;
    border-radius: 40px;
}