.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: calc(100vh - 58px);
    overflow: hidden;
}