.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.main div{
    justify-content: center;
}

.header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.text{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.done{
    color: #00CCCC;
}

.inner{
    text-align: center;
    width: 100%;
    align-items: center;
}

.ingredient{
    
}