.main{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*align-items: center;*/
    height: 100%;
    justify-content: center;
}

.div{
    justify-content: flex-start;
}

.header{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.text{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.state{
    color: white;
}

.done{
    color: #00CCCC;
}

.inner{
    width: 100%;
    align-items: center;
    max-height: 320px;
    overflow: auto;
}

.ingredient,
.price,
.footer{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.ingredientFirstBlock{
    display: flex;
    align-items: center;
}

.icon{
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: radial-gradient(circle at 100% 100%, #131316 0, #131316 28px, transparent 28px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #131316 0, #131316 28px, transparent 28px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #131316 0, #131316 28px, transparent 28px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #131316 0, #131316 28px, transparent 28px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#131316, #131316) 50% 50%/calc(100% - 4px) calc(100% - 60px) no-repeat,
            linear-gradient(#131316, #131316) 50% 50%/calc(100% - 60px) calc(100% - 4px) no-repeat,
            conic-gradient(from 90deg, #801ab2 0%, #4C4CFF 100%);

    padding: 2px;
    box-sizing: border-box;
}

.icon img{
    position: relative;
    left: -26px;
    width: 115px;
}