.tabs{
    display: flex;
}

.scroll{
    height: calc(100% - 180px);
    overflow: hidden auto;
}

.ingredientsSection{
    overflow: auto;
    width: calc((272px + 32px) * 2);
}

.ingredientDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}