.tabs{
    display: flex;
}

.scroll{
    height: 100%;
    overflow-x: auto;
}

.ingredientsSection{
    overflow: auto;
    width: calc((272px + 32px) * 2);
}

.ingredient{
    display: block;
    word-break: break-word;
    width: 272px;
}

.ingredient:nth-child(odd){
    float: left;
}

.ingredient:nth-child(even){
    float: right;
}

.ingredientDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}