.ingredient{
    display: block;
    word-break: break-word;
    width: 272px;
    position: relative;

}

.ingredient:nth-child(odd){
    float: left;
}

.ingredient:nth-child(even){
    float: right;
}